@import "compass";
@import "animation";
@import "colors";
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);



.bird-bg-container {
  width: 768px;
  height: 768px;
  margin: auto;
  background-color: $peach;
  background-image: image-url('bg/heart-bg.jpg');
  background-repeat: repeat;
  &::after, &::before {
    content: ' ';
    display: table;
  }
  &::after {
    clear: both;
  }
}
.bird-border-box {
  @include border-radius(30px);
  width: 748px;
  height: 748px;
  border: 7px solid $light-pink;
  margin: 10px;
}
.bird-container {
  position: relative;
  height: 520px;
  margin-top: 45px;
}
.bird-bg {
  position: absolute;
  left: 50%;
  width: 480px;
  height: 480px;
  margin-left: -240px;
  background-color: #FFF;
  background: image-url('bg/cicle-bg.png') no-repeat 0 0;
  @include background-size(100% 100%);
}
.bird-main {
  position: absolute;
  left: 50%;
  top: 135px;
  width: 555px;
  margin-left: -277px;
  &:hover { /*Анимация для цвета листьев на дереве*/
    .branch-leaf {
      @include animation(planting_in 5s linear);
      @include animation-fill-mode(forwards);
    }
    .heart {
      &:nth-of-type(3) {
        @include animation(hearts_movie 3s linear infinite);
      }
      &:nth-of-type(2) {
        @include animation(hearts_movie 3s linear 1s infinite);
      }
      &:nth-of-type(1) {
        @include animation(hearts_movie 3s linear 2s infinite);
      }
    }
    .flower {
      @include transition(opacity 2s linear);
      opacity: 1;
    }
  }
}

.bird {
  position: relative;
  float: left;
  width: 260px;
  height: 185px;
  z-index: 2;
}
.bird_girl {
  @include transform(scale(-1,1));
  margin-left: 35px;
  filter: FlipH;
  -ms-filter: "FlipH";
}
.bird-head {
  @include border-radius(58px 58px 0 0);
  position: absolute;
  top: 0;
  right: 0;
  width: 116px;
  height: 71px;
  background-color: $light-green;
}
.bird-head_girl {
  background-color: $light-pink;
}
.bird-head-eye {
  @include border-radius(50%);
  position: absolute;
  top: 40px;
  right: 20px;
  width: 10px;
  height: 10px;
  background-color: $dark;
}
.bird-head-beak {
  position: absolute;
  top: 51px;
  right: 0;
  &::before, &::after {
    position: absolute;
    left: 0;
    content: '';
    width: 18px;
    height: 8px;
    background-color: $orange;
    border-left: 1px solid $light-green;
  }
  &::before {
    @include border-radius(0 100% 0 0);
    top: 0;
  }
  &::after {
    @include border-radius(0 0 100%);
    top: 8px;
  }
}
.bird-head-beak_girl {
  &::before, &::after {
    background-color: $light-orange;
    border-left-color: $light-pink;
  }
}
.bird-body {
  @include border-radius(0 0 80px 60%);
  position: absolute;
  top: 71px;
  right: 0;
  width: 190px;
  height: 92px;
  background-color: $light-green;
  &::before {
    @include border-radius(0 0 70px);
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 74px;
    height: 50px;
    background-color: #FFF;
  }
}
.bird-body_girl {
  background-color: $light-pink;
}
.bird-body-tail {
  @include transform(rotate(20deg));
  position: absolute;
  top: 10px;
  left: -25px;
  > div {
    @include border-radius(40% 0 0 50%);
    position: absolute;
    left: 0;
    width: 59px;
    height: 18px;
    background-color: $green;
    &:nth-of-type(1) {
      @include transform(rotate(40deg));
      top: 0;
    }
    &:nth-of-type(2) {
      @include transform(rotate(20deg));
      top: 10px;
      left: -9px;
      width: 64px;
    }
    &:nth-of-type(3) {
      top: 20px;
    }
  }
}
.bird-body-tail_girl {
  > div {
    background-color: $pink;
  }
}
.bird-body-wing {
  @include transform(rotate(-50deg));
  background-color: $green;
  border-radius: 0 85% 10% 100%;
  height: 45px;
  position: absolute;
  right: 30px;
  top: 20px;
  width: 90px;
  &::before, &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent $light-green transparent transparent;
  }
  &::before {
    @include transform(rotate(62deg));
    top: 29px;
    left: 20px;
    border-width: 9px 18px 9px 0;
  }
  &::after {
    @include transform(rotate(30deg));
    border-color: transparent $light-green transparent transparent;
    top: 38px;
    left: 50px;
    border-width: 4.5px 27px 4.5px 0;
  }
}
.bird-body-wing_girl {
  background-color: $pink;
  &::before, &::after {
    border-right-color: $light-pink;
  }
}
.bird-body-foot {
  position: absolute;
  bottom: -22px;
  width: 3px;
  height: 36px;
  background-color: $brown;
  &::before, &::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 3px;
    height: 13px;
    background-color: $brown;
  }
  &::before {
    @include transform(rotate(32deg));
    left: -4px;
  }
  &::after {
    @include transform(rotate(-32deg));
    right: -4px;
  }
}
.bird-body-foot__left {
  @include transform(rotate(14deg));
  right: 70px;
}
.bird-body-foot__right {
  @include transform(rotate(-17deg));
  right: 43px;
  height: 29px;
}
.branch {
  @include border-radius(0 10% 100% 15%);
  position: relative;
  bottom: 7px;
  left: 50%;
  width: 470px;
  height: 20px;
  margin-left: -240px;
  background-color: $light-brown;
  z-index: 1;
}
.branch-child {
  @include transform(rotate(25deg));
  @include border-radius(0 20% 100% 0);
  position: absolute;
  top: 20px;
  right: 165px;
  width: 100px;
  height: 10px;
  background-color: $light-brown;
}
.branch-leaf {
  @include border-radius(0 90%);
  @include animation(planting_out 1s linear);
  @include animation-fill-mode(forwards);
  position: absolute;
  bottom: -5px;
  width: 15px;
  height: 15px;
  background-color: $coral;
}

@for $i from 1 through 6 {
  .branch-leaf:nth-of-type(#{$i}){
    @if $i%2 == 0 {
      @include transform(scale(-1,1));
      filter: FlipH;
      -ms-filter: "FlipH";
    }
    @if $i == 1 {
      @include transform(scale(1,-1));
      filter: FlipH;
      -ms-filter: "FlipH";
      top: -15px;
      bottom: auto;
      right: -5px;
    } @else if $i == 2 {
      @include transform(scale(1,1));
      top: 8px;
      bottom: auto;
      right: 0;
    } @else {
      right: 5px + $i*20;
      bottom: -5px - $i;
    }
  }
}
.branch-leaf_child:nth-of-type(3){
  right: 40px;
  top: 10px;
}

.ribbon {
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -152px;
  width: 304px;
  text-align: center;
  z-index: 3;
  font-family: 'Great Vibes', 'Pinyon Script', cursive;
  h1 {
    color: #FFF;
    font-size: 28px;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 10px 10px;
  }
}
.ribbon-arrow {
  position: absolute;
  content: '';
  top: -19px;
  border: 24px solid $ribbon-light-pink;
  z-index: -1;
}
.ribbon-arrow_left {
  border-left-color: transparent;
  border-right-width: 40px;
  left: -40px;
}
.ribbon-arrow_right {
  border-left-width: 40px;
  border-right-color: transparent;
  right: -40px;
}
.ribbon-content {
  background-color: $ribbon-pink;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 24px;
    width: 256px;
    height: 8px;
    background-color: #FFF;
    border-radius: 0 0 100% 100%;
    z-index: 3;
  }
}
.ribbon-triangle {
  position: absolute;
  border-style: solid;
  top: -20px;
  width: 0;
  height: 0;
  z-index: 4;
}
.ribbon-triangle_right {
  @include transform(rotate(-5deg));
  right: 0;
  border-width: 24px 0 0 24px;
  border-color: transparent transparent transparent $ribbon-dark-pink;
}
.ribbon-triangle_left {
  @include transform(rotate(5deg));
  left: 0;
  border-width: 0 0 24px 24px;
  border-color: transparent transparent $ribbon-dark-pink transparent;
}

.heart-container {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -17px;
}
.heart {
  position: absolute;
  bottom: 0;
  width: 39px;
  height: 33px;
  background: image-url('bg/heart.png') no-repeat 0 0;
  &:nth-of-type(2) {
    left: 15px;
    opacity: 0;
  }
  &:nth-of-type(1) {
    left: -20px;
    opacity: 0;
  }
}

.flower {
  @include transition(opacity 1s linear);
  position: absolute;
  top: 0;
  left: 10px;
  width: 30px;
  height: 30px;
  opacity: 0;
  &:nth-last-child(1) {
    top: -10px;
    left: 62px;
  }
}
.flower_right {
  top: -9px;
  left: 354px;
}
.flower-petals-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  &:nth-child(1)::after {
    top: 12px;
    left: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: yellow;
    box-shadow: 0 0 1px 2px gold inset;
  }
}
.flower-petal {
  position: absolute;
  top: 3px;
  left: 3px;
  &,
  &::before,
  &::after{
    width: 10px;
    height: 10px;
    background: $coral;
    background: -moz-linear-gradient(top, $coral 0%, #FFF 100%);
    background: -webkit-linear-gradient(top, $coral 0%,#FFF 100%);
    background: linear-gradient(to bottom, $coral 0%,#FFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3355', endColorstr='#ffffff',GradientType=0 );
    border: 1px solid #F0AEC9;
    border-radius: 50% 50% 0 50%;
  }
  &::before {
    @include transform(rotate(-110deg));
    @include transform-origin(10px, 12px);
  }
  &::after {
    @include transform(rotate(110deg));
    @include transform-origin(10px, 10px);
  }
  &:nth-child(2) {
    @include transform(rotate(57deg));
    @include transform-origin(12px, 11px);
  }
}
.flower-petal::before,
.flower-petal::after,
.flower-petals-wrapper::after {
  position: absolute;
  content: "";
}

.birds-annotation {
  max-width: 435px;
  margin: auto;
}

.droid-sans {
  color: $text;
  font-family: 'Droid Sans', sans-serif;
  margin: 0 0 10px;
  padding: 0;
}

@keyframes planting_in {
  0%	{ background-color: $coral; }
  50%	{ background-color: #8387EE; }
  100%  { background-color: #41B0B2; }
}
@keyframes planting_out {
  0%	{ background-color: #41B0B2; }
  50%	{ background-color: #8387EE; }
  100%  { background-color: $coral; }
}


@keyframes hearts_movie {
  0% {
    opacity: 1;
    bottom: 0;
  }
  50% {
    opacity: .5;
    transform: rotate(20deg) scale(.5);
    bottom: 44px;
  }
  100% {
    opacity: 0;
    transform: rotate(-20deg) scale(0);
    bottom: 88px;
  }
}

//@keyframes blooming_in {}
//@keyframes blooming_out {}
