$peach: #F1ECE6;
$light-pink: #F0AEC9;
$pink: #E183AE;
$ribbon-pink: #ED84AB;
$ribbon-light-pink: #F3A3C3;
$ribbon-dark-pink: #D03776;
$coral: #EE3355;
$light-green: #9DDCD3;
$green: #5AB29D;
$light-orange: #ED8C30;
$orange: #FA420E;
$dark: #1E2223;
$light-brown: #94745E;
$brown: #6B4D34;
$text: #A69C83;
